 @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Lora', serif;
} 

.slider-image{
    height: 90vh;
    transition: 1s;
}
@media (min-width: 768px) {
    .slider-image {
        height: 90vh;
    }
}

.slide-caption{
    bottom: 20rem !important;
}

.work-image{
    height: 50vh;
    width: 100%;
    filter: brightness(60%);
}
.work-image:hover{
    filter: brightness(100%);
}

.description > div > p{
    text-align: justify !important;
    line-height: 2rem;
}